<h1><%= @user.username %>'s Items</h1>


<br>

<div class="row">
<% if @user.listings.any? %>

  <ul>
    <% @user.listings.each do |listing| %>
      <div class="col-sm-4">

      <li><%= image_tag listing.photo %></li>
      <li><b><%= link_to listing.name, user_listing_path(@user, listing) %></b></li>


      <% if current_user == @user %>
        <%= link_to "Edit", edit_user_listing_path(@user, listing) %> |
        <%= link_to "Delete", user_listing_path(@user, listing), :data => {:confirm => "Are you sure you want to delete this listing?", :method => "delete"} %>
      <% end %>

      </div>
    <% end %>
  </ul>
<% else %>
  <p>Currently, there are no items available to swap.</p>
<% end %>
</div>

<hr>
<% if current_user == @user %>
  <h4><%= link_to "Add an item to swap or share", new_user_listing_path(@user) %></h4>
<% end %>
