<h1><%= @user.username %>'s Items</h1>

<br>
<div id="listing-items">
  <div class="row">
    <% if @user.listings.any? %>
      <ul>
        <% @user.listings.each do |listing| %>
          <div class="col-md-4">

          <li><%= image_tag listing.photo %></li>
          <li><b><%= link_to listing.name, user_listing_path(@user, listing) %></b></li>


          <% if current_user == @user %>
            <%= link_to "Edit", edit_user_listing_path(@user, listing) %> |
            <%= link_to "Delete", user_listing_path(@user, listing), :data => {:confirm => "Are you sure you want to delete this listing?", :method => "delete"} %>
          <% end %>

          </div>
        <% end %>
      </ul>
    <% else %>
      <p>Currently, there are no items available to swap.</p>
    <% end %>
  </div>

<br>
<div id="show-user">
  <h4>Like any of these items? Connect with <strong><%= mail_to @user.email, @user.username, subject: "Interested in an Item on Neighborhood Swap and Share", body: "" %></strong> to start a conversation.</h4>
</div>

  <% if current_user == @user %>
    <hr>
    <h5><strong><%= link_to "Add an item to swap or share", new_user_listing_path(@user, @listing), id: "new_item_link", remote: true %></strong></h5>
  <% end %>
</div>
